.anchor-style {
    outline: 1px solid black;
    
    width: 30%;
    padding: 3px;
    word-wrap: break-word;
}

#result {
    display: none;
    margin-top: 15px;
}

.local-div {
    
    outline: 1px solid black;
    padding: 3px; 
}

.local-div:hover {
    background: #00FF00;
    cursor: pointer;
}

.main-div {
    display: flex;
    
}

#watch-selected {
    margin-left: 20px;
}

#local-storage {
    display: none;
    margin-top: 25px;
}

.button-styling {
    display: inline-block;
    background: #fff;
    
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	
	
	max-width: 180px;
	
	border-radius: 4px;
    padding: 20px 30px;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    cursor: pointer;
}

.button-styling:hover {
    color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

#butt {
    margin-left: 10px;
}

#input {
    width: 200px;
    height: 22px;
}

#delete {
    cursor: pointer;
    margin: 5px 20px;
    border: 1px solid #8B0000;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    background: #F08080;
}

#delete:hover{
    background: #FF0000;
}





